In [11]:
from dataclasses import dataclass, field, asdict
from typing import List

import pandas as pd
import numpy as np

In [12]:
from  helpers_db import get_engine, run_sql
engine = get_engine()
with engine.begin() as conn:
  data = run_sql(conn, """SELECT * FROM transactions ORDER BY dt""")
  df = pd.DataFrame(data)
  df_txn = df[(df['category'] == 'buy') | (df['category'] == 'sell')]
  print(df_txn)

      id  broker_id   symbol                        dt  \
1    539  397981597     CSCO 2023-05-30 14:30:50+00:00
2    538  399776840     PYPL 2023-06-02 15:55:12+00:00
3    537  399776860     PYPL 2023-06-02 15:55:13+00:00
4    536  403174115     CVNA 2023-06-12 18:39:14+00:00
5    535  406987589     AMZN 2023-06-21 14:30:17+00:00
..   ...        ...      ...                       ...
213  437  531037227  EGLN.UK 2024-04-12 16:17:28+00:00
214  498  531041052      LQQ 2024-04-12 16:19:44+00:00
215  497  531043612     AAPL 2024-04-12 16:21:16+00:00
216  496  531043644     AAPL 2024-04-12 16:21:18+00:00
217  495  531045046       CI 2024-04-12 16:22:24+00:00

                           comment     amount   quote  shares  shares_left  \
1               OPEN BUY 2 @ 50.24  100.48000   50.24  2.0000       2.0000
2       OPEN BUY 0.55/1.55 @ 64.24   35.33200   64.24  0.5500       0.5500
3          OPEN BUY 1/1.55 @ 64.23   64.23000   64.23  1.0000       1.0000
4               OPEN BUY 3 @ 20.45   61.35000   20.45  3.0000       3.0000
5              OPEN BUY 1 @ 125.58  125.58000  125.58  1.0000       1.0000
..                             ...        ...     ...     ...          ...
213           OPEN BUY 5 @ 44.0900  220.45000   44.09  5.0000       5.0000
214       OPEN BUY 0.2878 @ 975.00  280.60500  975.00  0.2878       0.2878
215  OPEN BUY 0.832/2.832 @ 176.53  146.87296  176.53  0.8320       0.8320
216      OPEN BUY 2/2.832 @ 176.52  353.04000  176.52  2.0000       2.0000
217            OPEN BUY 2 @ 351.20  702.40000  351.20  2.0000       2.0000

     fee  taxes currency category broker
1    0.0    0.0      usd      buy    xtb
2    0.0    0.0      usd      buy    xtb
3    0.0    0.0      usd      buy    xtb
4    0.0    0.0      usd      buy    xtb
5    0.0    0.0      usd      buy    xtb
..   ...    ...      ...      ...    ...
213  0.0    0.0      usd      buy    xtb
214  0.0    0.0      usd      buy    xtb
215  0.0    0.0      usd      buy    xtb
216  0.0    0.0      usd      buy    xtb
217  0.0    0.0      usd      buy    xtb

[173 rows x 14 columns]

In [16]:
@dataclass
class Transaction:
  dt: str = '2024-04-12 16:17:28+00'
  symbol: str = 'CSCO'
  shares: float = 1
  currency: str = 'usd'
  quote: float = 64.24
  amount: float = 64.24

In [17]:
@dataclass
class GeneralLedger:
  transactions: List[Transaction] = field(default_factory=list)

  def trial_balance(self):
    df = pd.DataFrame([asdict(txn) for txn in self.transactions])
    return df.pivot_table(index=['symbol','currency'],
                          values=['shares','quote','amount'],
                          aggfunc={'shares': np.sum, 'quote': 'last','amount': np.sum}).reset_index()

In [18]:
transactions: List[Transaction] = []
for index, row in df_txn.iterrows():
  if row['symbol'] != 'EUR.USD':
    transactions.append(Transaction(row['dt'],row['symbol'],row['shares'],row['currency'],row['quote'], row['amount']))
gl = GeneralLedger(transactions)
gl.trial_balance()

     symbol currency       amount      quote    shares
0      AAOI      usd  1387.900000    17.3480   75.0000
1      AAPL      usd  3581.754168   176.5200   19.8318
2       ADP      usd  1516.380000   252.5800    0.0000
3       ALB      usd  1437.510000   114.5900   11.0000
4      AMZN      usd   609.734000   157.8790    4.0000
5      BABA      usd   819.725000    71.9680   11.0000
6        CI      usd  1284.300000   351.2000    4.0000
7       CLS      usd  2114.700000    44.7400   50.0000
8   CNDX.UK      usd  1083.345566  1029.7400    1.0616
9      CRDF      usd  1030.500000     5.4950  200.0000
10     CSCO      usd   100.480000    50.2400    2.0000
11     CVNA      usd   -75.450000    53.5000    0.0000
12     DBKd      eur   614.400000    10.2400   60.0000
13      DIS      usd   611.350000   122.2700    5.0000
14  EGLN.UK      usd   650.800000    44.0900   15.0000
15     ESEA      usd  1212.900000    37.3800   35.0000
16      GCT      usd   541.500000    36.1000   15.0000
17     GOOG      usd  1865.482400   145.6600   13.0000
18      HEI      usd   598.650000   199.5500    3.0000
19     INMD      usd   803.586600    22.7260   37.0000
20  IS0L.DE      usd  1004.429452   123.0500    8.1851
21  IS3N.DE      usd  1003.874314    29.3740   34.2442
22      JPM      usd   289.880000   144.9400    2.0000
23       KO      usd  1379.135000    60.8950   23.0000
24      LQQ      usd  2529.728910   975.0000    2.8200
25     META      usd  1407.500000   468.3800    3.0000
26     MSFT      usd  1661.300000   425.8700    4.0000
27     MSTR      usd  6587.510000  1445.6700    1.0000
28     NEOG      usd   326.125000    13.0450   25.0000
29     NKTX      usd   659.000000    13.1800   50.0000
30     NVDA      usd  2230.370000   597.8500    4.0000
31       ON      usd   624.840000    85.9500    8.0000
32     PAYC      usd   386.250000   200.2500    2.0000
33     PYPL      usd   830.062000    60.5900   13.5500
34     SBUX      usd   467.194000    93.4388    5.0000
35     SEDG      usd   498.410000    98.1200    5.0000
36     SURG      usd   847.500000     8.7400  100.0000
37  SXR8.DE      usd  3006.735227   494.9600    6.1260
38        T      usd   997.700000    16.2750   60.0000
39     WDAY      usd   924.900000   307.0000    3.0000